/**
 * Font-face declarations for Apercu and Tiempos Text fonts
 * Previously loaded via MUI's CssBaseline, now loaded directly
 */

/* Apercu Fonts */
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-light-web/web/apercu-light.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-light-web/web/apercu-light.woff") format("woff");
}

@font-face {
  font-family: "Apercu";
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-light-italic-web/web/apercu-light-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-light-italic-web/web/apercu-light-italic.woff") format("woff");
}

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-regular-web/web/apercu-regular.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-regular-web/web/apercu-regular.woff") format("woff");
}

@font-face {
  font-family: "Apercu";
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-italic-web/web/apercu-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-italic-web/web/apercu-italic.woff") format("woff");
}

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-bold-web/web/apercu-bold.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/apercu/apercu-bold-web/web/apercu-bold.woff") format("woff");
}

/* Tiempos Text Fonts */
@font-face {
  font-family: "Tiempos Text";
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-regular.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-regular.woff") format("woff"),
       url("/fonts/tiempos-text-web/tiempos-text-web-regular.woff2") format("woff2"),
       url("/fonts/tiempos-text-web/tiempos-text-web-regular.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-regular-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-regular-italic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-medium.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-medium.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-medium-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-medium-italic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-semibold.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-semibold.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-semibold-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-semibold-italic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-bold.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-bold.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-style: italic;
  font-weight: bold;
  font-display: fallback;
  src: url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-bold-italic.woff2") format("woff2"),
       url("https://s3.amazonaws.com/simonyates.ca-fonts/tiempos-text-web/tiempos-text-web-bold-italic.woff") format("woff");
}

