/**
 * Aug 3, 2023 — For some reason, these properties only work in dev mode, but not in a production
 * build when included in themeMui.ts -> MuiCssBaseline.
 *
 * I've replicated the part that isn't working here, but it would be nice to get the theme file to
 * work fully.
 */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  /*todo, check if this section is still needed in mui5 marginTop: 0,*/
  margin-left: 0;
  padding-left: 15px;
}
